Archive/O3655/O3655-5 Embedding Marketing in Your Code/Demos/AppointmentScheduler/AppointmentSchedulerWeb/Service References/LicenseVerificationService/verificationagent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.OfficeMarketplace.ServicePlatform.VerificationAgent.Service.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.OfficeMarketplace.ServicePlatform.VerificationAgent.Service.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VerifyEntitlementTokenRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntitlementToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyEntitlementTokenRequest" nillable="true" type="tns:VerifyEntitlementTokenRequest" />
  <xs:complexType name="VerifyEntitlementTokenResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeploymentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntitlementAcquisitionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntitlementExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntitlementType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEntitlementExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSiteLicense" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seats" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="SignInDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubscriptionState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VerifyEntitlementTokenResponse" nillable="true" type="tns:VerifyEntitlementTokenResponse" />
</xs:schema>