O3655-5 Embedding Marketing in Your Code/Demos/AppointmentScheduler/AppointmentSchedulerWeb/Service References/LicenseVerificationService/verificationagent3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.OfficeMarketplace.ServicePlatform.Common.Fault" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.OfficeMarketplace.ServicePlatform.Common.Fault" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceUnavailableFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ServiceUnavailableFault" nillable="true" type="tns:ServiceUnavailableFault" />
  <xs:complexType name="ServiceInternalErrorFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInternalErrorFault" nillable="true" type="tns:ServiceInternalErrorFault" />
</xs:schema>